@import '../mixis/mixins';
@import '../varibale/varibales';

/*======================================================
                    Title part start
======================================================*/
#footer {
    padding: 80px 0;

    .footer_text {
        h3 {
            @include fns($clr5, 32px, 400, $ff3);
            padding-bottom: 22px;
        }

        p {
            @include fns($clr5, 22px, 400, $ff3);
            line-height: 32px;
            width: 425px;
        }

        ul {
            li {
                a {
                    @include fns($clr5, 22px, 400, $ff3);
                    line-height: 40px;
                    transition: all linear .3s;

                    &:hover {
                        color: #9BAF06;
                    }
                }
            }
        }

    }

    .footer_text1 {
        ul {
            li {
                a {
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    line-height: 42px;
                    text-align: center;
                    color: $clr1;
                    background: $clr5;
                    margin: 0 8px;
                    margin-top: 30px;
                    transition: all linear .3s;

                    &:hover {
                        background: #9BAF06;
                        color: #fff;
                    }
                }
            }
        }
    }
}

/*======================================================
                    Title part end
======================================================*/