@import '../mixis/mixins';
@import '../varibale/varibales';

/*======================================================
                referenzen part start
======================================================*/
#kontakt {
    padding: 70px 0;
    text-align: center;
    position: relative;
    z-index: 1;

    &::after {
        position: absolute;
        content: '';
        background: rgba(27, 173, 207, 0.9);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    ul {
        li {
            &:first-child {
                font-size: 30px;
                width: 62px;
                height: 62px;
                border-radius: 50%;
                line-height: 62px;
                background: #fff;
                margin: 0 auto;
                color: $clr1;
                margin-bottom: 35px;
            }

            p {
                @include fns(#fff, 16px, 400, $ff1);

                i {
                    color: rgba(0, 0, 0, 0.8);
                    margin-right: 10px;
                    cursor: pointer;
                }

                a {
                    @include fns(#fff, 16px, 400, $ff1);
                }
            }

            &:last-child i {
                margin-left: -10px;
                cursor: pointer;
            }
        }
    }
}

/*======================================================
                referenzen part end
======================================================*/