$clr1: #1BADCF;
$clr2: #212529;
$clr3: #222328;
$clr4: #2f3135;
$clr5: #343434;
$clr6: #27292c;
$clr7: #f8f6f1;
$clr8: #393939;
$clr9: #333d42;
$clr01: #3f3f3f;
$ff1: 'Roboto', sans-serif;
$ff4: 'Open Sans', sans-serif;
$ff2: 'Kaushan Script', cursive;
$ff3: 'Montserrat', sans-serif;